body {
  scroll-behavior: smooth;
  /* background-color: bisque; */
  font-size: 18px;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  }
.main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}
/* Блок ХЕДЕР */
.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  align-items: center;
  margin: 92px 28px;
  padding: 0 20px 0 22px;
}

/* Меню */
.header-menu {
  line-height: 21.13px;
}

/* Список для меню */
.header__links-list {
  list-style-type: circle;
  display: flex;
  gap: 15px;
}

.header__links-list-item {
  padding: 0 15px 0 4px;
}

.header__links-list-item_no-bullit {
  padding: 0 15px 0 0;
}

.header__links-list-item_no-bullit::marker {
  content: '';
}

.header__link,
.lots__look-more-link,
.footer__menu-link {
  text-decoration-line: underline;
  text-underline-offset: 15%;
}

.header__link_active,
.footer__menu-link_active {
  text-decoration-line: none;
}

/* Логотип */
.header-logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
 margin: auto;
}

/* Контакты */
.address {
  width: 240.52px;
  font-style: normal;
  justify-self: end;
  line-height: 24.3px;
}

.header__address {
  
}

/* Блок ОБЛОЖКА */
.cover {
  background-image: url(../images/cover.jpg);
  background-color: #ca9bc5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
  height: 757px;
}

.overlay {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  display: block;
  z-index: 0;
}

/* Заголовок */
.cover__title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  z-index: 1;
  position: relative;
  inset: -100% 0 0 0;
}

.aligned-text {
  order: 0;
  margin-top: 166px;
  margin-left: 50px;
  line-height: 115px;
}

.aligned-text_center {
  align-self: center;
  order: 1;
  line-height: 115px;
  margin-top: 6px;
  margin-right: 28px;
}

.aligned-text_right {
  align-self: flex-end;
  order: 2;
  line-height: 115px;
  margin-right: 20px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

/* Подзаголовок с кнопкой ставки */
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
  inset: -100% 0 0 0;
  margin: 126px 50px 0 78px;
}

.cover__description-text,
.bet-button {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 25.83px;
  font-weight: 400;
}

.cover__description-text_more-spacing {
  word-spacing: 20px;
}

.cover__description-text_less-spacing {
  word-spacing: 18px;
}

.bet-button {
  background-color: rgb(255 255 255/0);
  color: #fff;
  border-style: solid;
  border-color: #fff;
  font-weight: 500;
  padding: 12px 32px 11px 31px;
  border-width: 1px;
}

/* Блок ЛОТЫ */
.lots {
  display: flex;
  flex-direction: column;
}

.lots__heading,
.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  margin: 180px 0 3px 64px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 24px;
  color: #fff;
}

.lots__card-list-item {

}

.card-link {
  
}

.card {
  width: 334px;
  height: 563px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.card .overlay {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  grid-column: 1;
  grid-row: 1 / span 1;
  align-self: start;
  z-index: 1;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 15%;
  margin: 50px 40px 0 40px;
}

.card__text {
  grid-column: 1;
  grid-row: 2 / span 1;
  font-size: 20px;
  line-height: 24px;
  align-self: end;
  z-index: 1;
  margin: 0 40px 48px 40px;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 23.48px;
  margin: 6px 0 0 64px;
}

/* Блок ОБ АУКЦИОНЕ */
.about {
  
}

.about__column {
  
}

.about__title {
  
}

.about__text {
  
}

/* Блок ФУТЕР */
.footer {
  
}

.footer__menu {
  
}

.footer__menu-list {
  
}

.footer__menu-list-item {
  
}

.footer__social-list {
  
}

.footer__social-list-item {
  
}

.footer__social-link_pn {
  
}

.footer__social-link_vk {
  
}

.footer__social-link_yt {
  
}